
@import url("../../../sonnenstrasse-base/inc/sonnenstrasse-base-variables.css");

.aventurien-character-content {
	position: relative;
	display: inline-block;
	height: 300px;
	width: 100%;
}

.aventurien-character-portrait-container {
	position: relative;
	display: inline-block;
	height: 225px;
	width: 321px;
	float: left;
}

.aventurien-character-frame {
	position: absolute;
	background-image: url("../../../sonnenstrasse-base/img/portrait.dragons.frame.png");
	background-position: -10px 0px;
	width: 301px;
	height: 220px;
	z-index: 3;
}

#aventurien-character-archetypes-list {
	width: 100%;
	height: 302px;
	background-color: var(--backColor);
    border: 1px solid var(--borderColor);
	overflow-y: scroll;
}

#aventurien-character-archetypes-list::-webkit-scrollbar {
	background-color: #1B1B1B;
	width: 5px;
}

#aventurien-character-archetypes-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#aventurien-character-archetypes-list::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	outline: 1px solid slategrey;
}

#aventurien-character-archetypes-list .aventurien-character-archetype,
#aventurien-character-archetypes-list .aventurien-character-archetype:hover {
	text-decoration: none;
	color: #cfb991;
	display: block;
	background-color: #1B1B1B;
	margin: 1px;
}

#aventurien-character-archetypes-list .aventurien-character-archetype-portrait {
	width: 80px;
}

#aventurien-character-archetypes-list .aventurien-character-archetype-portrait .aventurien-character-portrait-image {
    height: 81px;
    max-height: 81px;
    display: block;
	overflow: hidden;
}

#aventurien-character-archetypes-list table {
	border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
	table-layout: fixed;
}

#aventurien-character-archetypes-list tr td {
	vertical-align: top;
	font-size: 10px;
	line-height: 12px;
}

#aventurien-character-archetypes-list .aventurien-character-archetype-details-name {
	font-weight: bold;
	font-size: 13px;
	line-height: 26px;
	color: #f3e6d0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#aventurien-character-archetypes-list .aventurien-character-archetype-details-flavor {
	height: 5em;
	overflow: hidden;
	padding-right: 10px;
	position: relative;
}

#aventurien-character-archetypes-list .aventurien-character-archetype.selected {
	background-color: #313131;
}

#aventurien-character-archetypes-list .aventurien-character-archetype.selected .aventurien-character-archetype-details-flavor {
	height: auto;
}

#aventurien-character-creation-from-archetype, #aventurien-character-creation-upload {
	margin: 5px 0px;
}

.aventurien-character-portrait {
	position: absolute;
	top: 0px;
	left: 50px;
	height: 200px;
	width: 200px;
	text-align: center;
}

.aventurien-character-portrait-shadow {
	height: 200px;
	position: relative;
	width: fit-content;
	margin: 0 auto;
	z-index: 1;
}

.aventurien-character-portrait-shadow::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-moz-box-shadow: #000 0px 0px 50px 20px inset;
	-webkit-box-shadow: #000 0px 0px 50px 20px inset;
	box-shadow: #000 0px 0px 50px 20px inset;
}

.aventurien-character-portrait img {
	height: 200px;
	min-height: 200px;
	max-width: 200px;
	color: transparent;
	z-index: -1;
}

.aventurien-character-portrait-compact {
	height: 64px;
	width: 64px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.aventurien-character-portrait-container-compact {
	max-width: 100%;
    background: #000;
    display: inline-block;
    float: none;
    height: 64px;
    padding: 8px 10px 11px 8px;
    position: relative;
    width: 64px;
    overflow: hidden;
	float: left;
}

.aventurien-character-portrait-empty .aventurien-character-portrait-container-compact {
	background: url(./../../../sonnenstrasse-base/img/no_avatar.gif) 50% 2px no-repeat;
}

.aventurien-character-portrait-image .aventurien-character-portrait-container-compact {
    background: url(./../../../sonnenstrasse-base/img/portrait-frame-clean.gif) no-repeat 50% 50%;
}

.aventurien-character-portrait-empty .aventurien-character-portrait-compact {
	display: none;
}

#aventurien-character-window {
	position: relative;
	padding: 2px 4px 10px 4px;
}

.aventurien-character-window-create > #aventurien-character-create { display: block; }
.aventurien-character-window-import > #aventurien-character-import { display: block; }
.aventurien-character-window-delete > #aventurien-character-delete { display: block; }
.aventurien-character-window-compact > #aventurien-character-compact { display: block; }
.aventurien-character-window-full > #aventurien-character-full { display: block; }
.aventurien-character-window-levelup > #aventurien-character-full { display: block; }

.aventurien-character-window-full > #aventurien-character-full > #aventurien-character-sheet-container > #aventurien-character-sheet-full { display: block; !important }
.aventurien-character-window-levelup > #aventurien-character-full > #aventurien-character-sheet-container > #aventurien-character-sheet-full { display: none; !important }
.aventurien-character-window-levelup > #aventurien-character-full > #aventurien-character-sheet-container > #aventurien-character-sheet-levelup { display: block; !important }


#aventurien-character-compact {
	display: none;
	width: 100%;
    height: 85px;
}

#aventurien-character-create, #aventurien-character-import, #aventurien-character-delete {
    display: none;
}

#aventurien-character-full {
	display: none;
	padding-bottom: 20px;
}

.aventurien-character-button {
	z-index: 10;
    border: 1px solid #4b402e;
    background-color: #000000;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.85);
    border-radius: 2px;
    text-align: left;
}

.aventurien-character-button a {
	line-height: 14px;
    display: block;
	outline: 0;
    border: none;
    text-decoration: none;
    background: 0 0;
	margin: 1px 4px 0px 4px;
    vertical-align: middle;
    font-size: 10px;
    color: var(--baseColor);
}

.aventurien-character-button a:hover {
    color: var(--hoverColor);
	text-decoration: none;
}

.aventurien-character-toggle-details {
	position: absolute;
	bottom: 7px;
	right: 4px;
	height: 16px;
}

.aventurien-character-toggle-levelup {
	position: absolute;
	bottom: -23px;
	right: 100px;
	height: 16px;
}

.aventurien-character-save-levelup {
	position: absolute;
	bottom: -23px;
	right: 167px;
	height: 16px;
}

#aventurien-character-window p {
	line-height: 12px;
    font-size: 10px;
}

#aventurien-character-window .aventurien-solo-menu {
	top: 6px;
	right: 4px;
}

/**************************************************************************************/
/*** character sheet                                                                ***/
/**************************************************************************************/

#aventurien-character-sheet-container {
	position: relative;
	display: inline-block;
	width: 293px;
	padding-top: 18px;
}

#aventurien-character-sheet-full,
#aventurien-character-sheet-levelup {
    display: none;
}

.aventurien-character-sheet-tabs {
	overflow: hidden;
}

.aventurien-character-sheet-tabs > li {
    display: inline;
	white-space: nowrap;
	margin-left: -6px;
	margin-right: 6px;
}

.aventurien-character-sheet-tabs > li > a {
    color: var(--baseColor);
}

.aventurien-character-sheet-tabs > li > a:hover {
    color: var(--hoverColor);
    text-decoration: none;
}

.aventurien-character-sheet-tabs > li::before {
	content: " | ";
    font-weight: bold;
	color: var(--baseColor);
}

.aventurien-character-sheet-tabs-selected-basis              .aventurien-character-sheet-tabs-basis              a { color: var(--hoverColor); }
.aventurien-character-sheet-tabs-selected-vorteile           .aventurien-character-sheet-tabs-vorteile           a { color: var(--hoverColor); }
.aventurien-character-sheet-tabs-selected-eigenschaften      .aventurien-character-sheet-tabs-eigenschaften      a { color: var(--hoverColor); }
.aventurien-character-sheet-tabs-selected-talente            .aventurien-character-sheet-tabs-talente            a { color: var(--hoverColor); }
.aventurien-character-sheet-tabs-selected-zauber             .aventurien-character-sheet-tabs-zauber             a { color: var(--hoverColor); }
.aventurien-character-sheet-tabs-selected-sonderfertigkeiten .aventurien-character-sheet-tabs-sonderfertigkeiten a { color: var(--hoverColor); }




.aventurien-character-sheet-border {
	border: 1px solid #4b402e;
	background: #000;
	padding: 1px;
}

.aventurien-character-sheet-parchment {
	background: url(../../../sonnenstrasse-base/img/parchment.sheet.png);
    background-size: cover;
	box-shadow: 0px 0px 0px 3px inset rgba(0,0,0,.25);
	height: 380px;
}

.aventurien-character-sheet {
	display: inline-block;
	font-family: GentiumBasic;
    font-size: 10pt;
	line-height: 11pt;
	color: #000;
	padding: 25px 25px 10px 30px;
}

#aventurien-character-sheet-container ul.aventurien-character-sheet-tabs {
	line-height: 14px;
	border: 1px solid #4b402e;
	border-bottom: none;
    background: #000;
    padding: 1px 4px 1px 4px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 10px;
}

.aventurien-character-sheet-tabs > div {
	display: inline-block;
}

.aventurien-character-sheet-tabs > div:last-child::after {
	content: "";
}

.aventurien-character-sheet-tabs > div::after {
	content: " |";
	color: var(--baseColor);
}

.aventurien-character-sheet-tabs > div > a {
	color: var(--baseColor);
}

.aventurien-character-sheet-tabs > div > a:hover {
	color: var(--hoverColor);
	text-decoration: none;
}

.aventurien-character-sheet-tabs-selected-basis #aventurien-character-sheet-tabs-basis a { color: var(--selectedColor); }
.aventurien-character-sheet-tabs-selected-vorteile #aventurien-character-sheet-tabs-vorteile a { color: var(--selectedColor); }
.aventurien-character-sheet-tabs-selected-eigenschaften #aventurien-character-sheet-tabs-eigenschaften a { color: var(--selectedColor); }
.aventurien-character-sheet-tabs-selected-talente #aventurien-character-sheet-tabs-talente a { color: var(--selectedColor); }
.aventurien-character-sheet-tabs-selected-zauber #aventurien-character-sheet-tabs-zauber a { color: var(--selectedColor); }
.aventurien-character-sheet-tabs-selected-sonderfertigkeiten #aventurien-character-sheet-tabs-sonderfertigkeiten a { color: var(--selectedColor); }

.aventurien-character-sheet-tabs-selected-basis #aventurien-character-sheet-basis, .aventurien-character-sheet-tabs-selected-basis #aventurien-character-sheet-levelup-basis { display: block; }
.aventurien-character-sheet-tabs-selected-vorteile #aventurien-character-sheet-vorteile, .aventurien-character-sheet-tabs-selected-vorteile #aventurien-character-sheet-levelup-vorteile { display: block; }
.aventurien-character-sheet-tabs-selected-eigenschaften #aventurien-character-sheet-eigenschaften, .aventurien-character-sheet-tabs-selected-eigenschaften #aventurien-character-sheet-levelup-eigenschaften { display: block; }
.aventurien-character-sheet-tabs-selected-talente #aventurien-character-sheet-talente, .aventurien-character-sheet-tabs-selected-talente #aventurien-character-sheet-levelup-talente { display: block; }
.aventurien-character-sheet-tabs-selected-zauber #aventurien-character-sheet-zauber, .aventurien-character-sheet-tabs-selected-zauber #aventurien-character-sheet-levelup-zauber { display: block; }
.aventurien-character-sheet-tabs-selected-sonderfertigkeiten #aventurien-character-sheet-sonderfertigkeiten, .aventurien-character-sheet-tabs-selected-sonderfertigkeiten #aventurien-character-sheet-levelup-sonderfertigkeiten { display: block; }

.aventurien-character-sheet {
	display: none;
}

.aventurien-character-sheet .aventurien-character-sheet-scrollcontent {
	overflow-y: auto;
	max-height: 290px;
	padding-right: 8px;
}

.aventurien-character-sheet .aventurien-character-sheet-scrollcontent::-webkit-scrollbar {
    width: 0.5em;
}

.aventurien-character-sheet .aventurien-character-sheet-scrollcontent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.aventurien-character-sheet .aventurien-character-sheet-scrollcontent::-webkit-scrollbar-thumb {
  background-color: #4b402e;
  outline: 1px solid slategrey;
}

.aventurien-character-sheet h4 {
	font-family: Mason;
    font-size: 12pt;
	-webkit-margin-before: 0.5em;
    -webkit-margin-after: 1.0em;
    color: #000;
}

.aventurien-character-sheet-full .aventurien-character-sheet-propertytable[data-empty="true"],
.aventurien-character-sheet-levelup .aventurien-character-sheet-propertytable[data-empty="true"] {
    display: none;
}

.aventurien-character-sheet-full .aventurien-character-sheet-propertylist[data-empty="true"] {
    display: none;
}

.aventurien-character-sheet-full .aventurien-character-sheet-propertylist:before {
    content: attr(data-name);
    display: block;
    font-family: GentiumBasic;
    font-size: 10pt;
    font-weight: bold;
    line-height: 11pt;
    color: #000;
    padding-bottom: 4px;
}

.aventurien-character-sheet-full .aventurien-character-sheet-propertylist span[data-template="false"] ~ span[data-template="false"]:before {
    content:  ", ";
}

.aventurien-character-sheet table {
	border-collapse: collapse;
	border-spacing: 0px;
    margin-bottom: 10px;
}

.aventurien-character-sheet table th {
    text-align: left;
    padding-bottom: 4px;
	color: var(--borderColor);
	font-size: 13px;
}

.aventurien-character-sheet-full .aventurien-character-sheet-display-property[data-template='true'] {
    display: none;
}

.aventurien-character-sheet-full .aventurien-character-sheet-display-property a {
	text-decoration: underline;
	text-decoration-style: dotted;
	color: inherit;
}

.aventurien-character-sheet-full .aventurien-character-sheet-display-property a:hover {
	text-decoration: underline;
	text-decoration-style: solid;
	color: inherit;
}

.aventurien-character-sheet-full .aventurien-character-sheet table td:nth-child(1) {
	font-family: Mason;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	vertical-align: top;
}

.aventurien-character-sheet-full .aventurien-character-sheet table td,
#aventurien-character-window .aventurien-character-sheet-full p {
	font-family: Andalus;
	font-size: 11px;
	line-height: 12px;
    vertical-align: top;
	padding-top: 2px;
	margin-block-start: 0em;
	color: #4b402e;
}

.aventurien-character-sheet-full #aventurien-character-sheet-basis table tr td:nth-child(1) {
	width: 80px;
}

.aventurien-character-sheet-full #aventurien-character-sheet-eigenschaften table tr td:nth-child(1) {
	width: 120px;
}

.aventurien-character-sheet-full #aventurien-character-sheet-eigenschaften table tr td:nth-child(2) {
	width: 20px;
	text-align: right;
}

.aventurien-character-sheet-full #aventurien-character-sheet-eigenschaften .br {
    height: 5px;
}

.aventurien-character-sheet-full #aventurien-character-sheet-talente table tr td:nth-child(1),
.aventurien-character-sheet-full #aventurien-character-sheet-zauber table tr td:nth-child(1) {
	width: 140px;
	padding-left: 10px;
	font-weight: normal;
	
	font-family: Andalus;
	font-size: 11px;
	line-height: 12px;
    vertical-align: top;
	padding-top: 2px;
	margin-block-start: 0em;
	color: #4b402e;
}

.aventurien-character-sheet-full #aventurien-character-sheet-talente table tr td:nth-child(2),
.aventurien-character-sheet-full #aventurien-character-sheet-zauber table tr td:nth-child(2) {
	width: 55px;
	text-align: center;
}

.aventurien-character-sheet-full #aventurien-character-sheet-talente table tr td:nth-child(3),
.aventurien-character-sheet-full #aventurien-character-sheet-zauber table tr td:nth-child(3) {
	width: 20px;
	text-align: center;
}

#aventurien-character-sheet-talente div div {
	font-family: Mason;
	font-size: 13px;
	font-weight: bold;
	line-height: 15px;
	margin-block-start: 0.5em;
	margin-block-end: 0.25em;
}

/*************************************************************************************************
 * LevelUp
 *************************************************************************************************/

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-overview {
    color: var(--baseColor);
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    vertical-align: top;
    margin-block-start: 0em;
    cursor: default;
    padding: 2px 4px;
    border-bottom: 1px solid var(--borderColor);
    text-align: right;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-overview::before {
    content: "Freie AP: " attr(data-remaining);
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-overview::after {
    content: attr(data-total);
}

.aventurien-character-sheet-levelup .aventurien-character-sheet {
    padding: 0px;
    height: 364px;
    color: var(--baseColor);
}

.aventurien-character-sheet-levelup .aventurien-character-sheet h4 {
	color: #fff;
	margin: 0px;
	padding: 10px 4px 6px 4px;
	border-bottom: 1px solid transparent;
}

.aventurien-character-sheet-levelup .aventurien-character-activate-levelup {
	position: absolute;
	right: 6px;
	top: 73px;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet[data-activate="true"] .aventurien-character-activate-levelup a {
	color: var(--hoverColor);
}

.aventurien-character-sheet-levelup .aventurien-character-sheet .aventurien-character-sheet-scrollcontent {
    padding: 4px;
    padding-right: 0px;
	height: 325px;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet .aventurien-character-sheet-scrollcontent::-webkit-scrollbar {
	background-color: #1B1B1B;
	width: 5px;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet .aventurien-character-sheet-scrollcontent::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.aventurien-character-sheet-levelup .aventurien-character-sheet .aventurien-character-sheet-scrollcontent::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	outline: 1px solid slategrey;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet-border {
    background: none;
    padding: 0px;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet-parchment {
    background: none;
    height:  382px;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet table td, 
.aventurien-character-sheet-levelup .aventurien-character-sheet div,
.aventurien-character-sheet-levelup p {
    color: var(--baseColor);
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
    vertical-align: top;
	margin-block-start: 0em;
    cursor: default;
}

.aventurien-character-sheet-levelup table tr th {
    color: var(--headerColor);
    font-family: Arial;
    font-size: 11px;
}

.aventurien-character-sheet-levelup table tr th:nth-child(2) {
    text-align: right;
}

.aventurien-character-sheet-levelup table tr th:nth-child(3) {
    text-align: center;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet:not([data-activate="true"]) table .aventurien-character-sheet-levelup-property[data-template='true'],
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-advantage-vorteil .aventurien-character-sheet-levelup-property[data-template='true'],
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-advantage-nachteil .aventurien-character-sheet-levelup-property[data-template='true'] {
    display: none;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet[data-activate="true"] table .aventurien-character-sheet-levelup-property[data-template='true'] td span {
	color: var(--borderColor);
}

.aventurien-character-sheet-levelup .aventurien-character-sheet[data-activate="true"] table .aventurien-character-sheet-levelup-property:not([data-invest='0']) td span {
	color: var(--baseColor);
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-se {
    display: none;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-se-label {
    background: url(../../../sonnenstrasse-base/img/tickbox.png) no-repeat;
    background-size: 48px 16px;
    background-position-x: 0px;
    height: 14px;
    width: 14px;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.aventurien-character-sheet-levelup table tr:hover td .aventurien-character-sheet-levelup-property-se-label {
    background-position-x: -16px;
    cursor: pointer;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-se:checked + .aventurien-character-sheet-levelup-property-se-label {
    background-position-x: -32px;
}

.aventurien-character-sheet-levelup table tr td:nth-child(1) {
	width: 14px;
    padding: 0;
    line-height: 0;
}

.aventurien-character-sheet-levelup table tr td:nth-child(2) {
	width: 10px;
	text-align: center;
}

.aventurien-character-sheet-levelup table tr td:nth-child(3) {
	width: 120px;
    max-width: 120px;
}

.aventurien-character-sheet-levelup table tr td:nth-child(4) {
	width: 55px;
	text-align: right;
}

.aventurien-character-sheet-levelup table tr td:nth-child(5) {
	width: 50px;
	text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-basis table tr td:nth-child(1) {
    width: 80px;
    line-height: 13px;
    padding: 1px;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-basis table tr td:nth-child(2) {
    width: 190px;
    text-align: left;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-eigenschaften table tr th:nth-child(3)::before {
    content: "Wert";
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-talente table tr th:nth-child(3)::before {
    content: "TaW";
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-zauber table tr th:nth-child(3)::before {
    content: "ZfW";
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-category {
    display: block;
    width: 10px;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="A*"] .aventurien-character-sheet-levelup-property-category::before { content: "A*"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="A"] .aventurien-character-sheet-levelup-property-category::before { content: "A"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="B"] .aventurien-character-sheet-levelup-property-category::before { content: "B"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="C"] .aventurien-character-sheet-levelup-property-category::before { content: "C"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="D"] .aventurien-character-sheet-levelup-property-category::before { content: "D"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="E"] .aventurien-character-sheet-levelup-property-category::before { content: "E"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="F"] .aventurien-character-sheet-levelup-property-category::before { content: "F"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="G"] .aventurien-character-sheet-levelup-property-category::before { content: "G"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="H"] .aventurien-character-sheet-levelup-property-category::before { content: "H"; }

.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="A*"][data-se="1"] .aventurien-character-sheet-levelup-property-category::before { content: "A*"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="A"][data-se="1"] .aventurien-character-sheet-levelup-property-category::before { content: "A*"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="B"][data-se="1"] .aventurien-character-sheet-levelup-property-category::before { content: "A"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="C"][data-se="1"] .aventurien-character-sheet-levelup-property-category::before { content: "B"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="D"][data-se="1"] .aventurien-character-sheet-levelup-property-category::before { content: "C"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="E"][data-se="1"] .aventurien-character-sheet-levelup-property-category::before { content: "D"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="F"][data-se="1"] .aventurien-character-sheet-levelup-property-category::before { content: "E"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="G"][data-se="1"] .aventurien-character-sheet-levelup-property-category::before { content: "F"; }
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-category="H"][data-se="1"] .aventurien-character-sheet-levelup-property-category::before { content: "G"; }


.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression {
    position: relative;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps {
    position: absolute;
    top: 11px;
    left:  0px;
    width: 160px;
    height: 3px;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps .step {
    display: table-cell;
    width: 4px;
    height: 3px;
    box-shadow: inset -1px 0px rgba(0, 0, 0, 0.5);
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps .step[data-tooltip]::after { 
	content: attr(data-tooltip);
    color: var(--disabledColor);
    padding: 1px 4px;
    display: none;
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: auto;
    max-width: 225px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    border: 1px solid #4b402e;
    background-color: var(--backColor);
    border-radius: 2px;
    text-align: left;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps .step[data-tooltip]:hover {
    background-color: var(--hoverColor);
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps .step[data-tooltip]:hover::after {
    display: block;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps .a {
    background-color: #403a2d;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps .r {
    background-color: #403a2d;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps .k {
    background-color: #544c3b;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps .p {
    background-color: #756a52;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps .o {
    background-color: #a99877;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps .x {
    background-color: #6699ff;
}

.aventurien-character-sheet-levelup table tr td .aventurien-character-sheet-levelup-property-progression-steps .s {
    background-color: #99ccff;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aventurien-character-sheet-levelup table tr:hover td,
.aventurien-character-sheet-levelup table tr:hover td span {
    color: var(--hoverColor);
}

.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-ap-invest:nth-child(1) {
    font-weight: bold;
    color: var(--selectedColor);
}

.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-ap-plus {
    display: inline;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-invest='0'] .aventurien-character-sheet-levelup-property-ap-plus,
.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-ap=''] .aventurien-character-sheet-levelup-property-ap-plus {
    display: none;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet:not([data-activate="true"]) .aventurien-character-sheet-levelup-property[data-category=''] .aventurien-character-sheet-levelup-property-value-minus, 
.aventurien-character-sheet-levelup .aventurien-character-sheet:not([data-activate="true"]) .aventurien-character-sheet-levelup-property[data-category=''] .aventurien-character-sheet-levelup-property-value-plus {
    display: none;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet:not([data-activate="true"]) .aventurien-character-sheet-levelup-property[data-category=''] .aventurien-character-sheet-levelup-property-se, 
.aventurien-character-sheet-levelup .aventurien-character-sheet:not([data-activate="true"]) .aventurien-character-sheet-levelup-property[data-category=''] .aventurien-character-sheet-levelup-property-se-label {
    display: none;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-increase]:hover .aventurien-character-sheet-levelup-property-value-minus,
.aventurien-character-sheet-levelup table tr:hover .aventurien-character-sheet-levelup-property-value-plus {
    visibility: visible;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property-value-minus {
    display: inline-block;
    visibility: hidden;
    background: url(../../../sonnenstrasse-base/img/skill.tickbox.minus.png) no-repeat;
    width: 9px;
    height: 9px;
    line-height: 9px;
    font-size: 9px;
    margin: 2px;

    content:  "";
    float: left;
    cursor: pointer;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property-value-plus {
    display: inline-block;
    visibility: hidden;
    background: url(../../../sonnenstrasse-base/img/skill.tickbox.plus.png) no-repeat;
    width: 9px;
    height: 9px;
    line-height: 9px;
    font-size: 9px;
    margin: 2px;

    content:  "";
    float: right;
    cursor: pointer;
}

.aventurien-character-sheet-levelup .aventurien-character-sheet-levelup-property[data-increase] .aventurien-character-sheet-levelup-property-value {
    font-weight: bold;
    color: var(--selectedColor);
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property::before {
    content: attr(data-name);
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property[data-template='true'] {
    color: var(--baseColor);
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property[data-template='true'][data-reqvalue='true']:hover {
    color: var(--hoverColor);
    cursor: pointer;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property[data-reqvalue='false'] {
    color: var(--borderColor);
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property[data-template='false'] {
    color: var(--headerColor);
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property[data-invest]:not([data-invest='0']) {
    color: var(--selectedColor);
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet[data-display='false'],
.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property[data-display='false'] {
    display: none;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-tooltip {
    display: none;
    position: relative;
    padding: 0px;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-tooltip-content {
	position: absolute;
	left: 19px;
	right: 19px;
	top: 4px;
	color: var(--baseColor);
    background: var(--backColor);
    border: 1px solid var(--borderColor);
    padding: 4px;
    box-shadow: 0px 0px 3px #000;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-tooltip .aventurien-character-sheet-levelup-property-tooltip-header {
    color: var(--headerColor);
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 0px;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-tooltip .aventurien-character-sheet-levelup-property-tooltip-subheader {
    color: var(--headerColor);
    padding-bottom: 4px;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-tooltip .aventurien-character-sheet-levelup-property-tooltip-flavor {
    color: var(--baseColor);
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-tooltip .aventurien-character-sheet-levelup-property-tooltip-requirements::before {
    content: "Voraussetzungen: ";
    font-weight: bold;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-tooltip .aventurien-character-sheet-levelup-property-tooltip-requirements span {
    white-space: nowrap;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-tooltip .aventurien-character-sheet-levelup-property-tooltip-rarity::before {
    content: "Verbreitung: ";
    font-weight: bold;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-tooltip .aventurien-character-sheet-levelup-property-tooltip-cost::before {
    content: "Kosten: ";
    font-weight: bold;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-tooltip .aventurien-character-sheet-levelup-property-tooltip-cost:not(:empty)::after {
    content: " AP";
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property:hover .aventurien-character-sheet-levelup-property-tooltip {
    display: block;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property:hover .aventurien-character-sheet-levelup-property-tooltip-content:hover {
    display: none;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property .aventurien-character-sheet-levelup-property-variant-matcher {
	display: none;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property[data-variant='']:not([data-variantmatch='']):hover .aventurien-character-sheet-levelup-property-variant-matcher,
.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property[data-variant='']:not([data-variantmatch='']) .aventurien-character-sheet-levelup-property-variant-matcher:focus-within {
	display: block;
    position: relative;
    float: right;
    margin-right: 4px;
    height: 13px;
	z-index: 10;
    background-color: #000000;
	width: 160px
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher select::selection option {
	width: 300px;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher select::selection {
	width: 40px;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher select option {
	background-color: #000000;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher select::-webkit-scrollbar {
	background-color: #1B1B1B;
	width: 5px;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher select::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher select::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	outline: 1px solid slategrey;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher select {
    display: inline-block;
    width: 70px;

	line-height: 12px;
    border: none;
    text-decoration: none;
    background: 0 0;
    margin: 0px 2px 0px 0px;
    font-family: arial;
    font-size: 10px;
    color: var(--baseColor);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.85);
    outline: 1px solid #4b402e;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher input {
	display: inline-block;
	width: 65px;

	line-height: 11px;
    border: none;
    text-decoration: none;
    background: 0 0;
    margin: 0px 2px 0px 0px;
    font-family: arial;
    font-size: 10px;
    color: var(--baseColor);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.85);
    outline: 1px solid #4b402e;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher .aventurien-character-sheet-levelup-property-variant-pin {
    display: inline-block;
    width: 11px;
    border: none;
    background: 0 0;
    margin: 0;
    height: 13px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.85);
    outline: 1px solid #4b402e;
    text-align: center;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher .aventurien-character-sheet-levelup-property-variant-pin a {
    color: var(--baseColor);
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher .aventurien-character-sheet-levelup-property-variant-pin a:hover {
    color: var(--hoverColor);
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-levelup-property-variant-matcher .aventurien-character-sheet-levelup-property-variant-pin a::after {
    content: "\f109";
    font: 400 11px dashicons;
    font-weight: bold;
    line-height: 13px;
    text-decoration: none;
    margin: 0;
}

.aventurien-character-sheet-levelup #aventurien-character-sheet-levelup-sonderfertigkeiten ul {
	border: 0px;
	border-bottom: 1px solid var(--borderColor);
}

.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-allgemein #aventurien-character-sheet-tabs-allgemein a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-elfenlied #aventurien-character-sheet-tabs-elfenlied a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-gelände #aventurien-character-sheet-tabs-gelände a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-klerikal #aventurien-character-sheet-tabs-klerikal a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-fernkampf #aventurien-character-sheet-tabs-fernkampf a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-kampf #aventurien-character-sheet-tabs-kampf a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-manöver #aventurien-character-sheet-tabs-manöver a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-magisch #aventurien-character-sheet-tabs-magisch a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-merkmal #aventurien-character-sheet-tabs-merkmal a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-ritual #aventurien-character-sheet-tabs-ritual a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-objekt #aventurien-character-sheet-tabs-objekt a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-pakt #aventurien-character-sheet-tabs-pakt a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-schamanen #aventurien-character-sheet-tabs-schamanen a { color: var(--hoverColor); }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-liturgie #aventurien-character-sheet-tabs-liturgie a { color: var(--hoverColor); }

.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-allgemein .aventurien-character-sheet-levelup-feat-allgemein { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-elfenlied .aventurien-character-sheet-levelup-feat-elfenlied { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-gelände .aventurien-character-sheet-levelup-feat-gelände { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-klerikal .aventurien-character-sheet-levelup-feat-klerikal { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-fernkampf .aventurien-character-sheet-levelup-feat-fernkampf { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-kampf .aventurien-character-sheet-levelup-feat-kampf { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-manöver .aventurien-character-sheet-levelup-feat-manöver { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-magisch .aventurien-character-sheet-levelup-feat-magisch { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-merkmal .aventurien-character-sheet-levelup-feat-merkmal { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-ritual .aventurien-character-sheet-levelup-feat-ritual { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-objekt .aventurien-character-sheet-levelup-feat-objekt { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-pakt .aventurien-character-sheet-levelup-feat-pakt { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-schamanen .aventurien-character-sheet-levelup-feat-schamanen { display: block; }
.aventurien-character-sheet-levelup-sonderfertigkeiten-tabs-selected-liturgie .aventurien-character-sheet-levelup-feat-liturgie { display: block; }

#aventurien-character-sheet-levelup-sonderfertigkeiten {
	padding: 0px;
	font: inherit;
}

#aventurien-character-sheet-levelup-sonderfertigkeiten .aventurien-character-sheet-tabs .aventurien-character-sheet-tab-hidden { display: none; }
	
	
